body {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   margin: 0;
   background-image: url("space_bg.svg");
   background-size: 100%;
   font-family: 'Montserrat', sans-serif;
}

#scene {
   width: 100vw;
   height: 100vh;
}

#rocket {
   opacity: 0;
   position: absolute;
   height: 45vmin;
}

.sing {
   opacity: .9;
   position: absolute;
   z-index: 2;
   font-size: 6.5vw;
   color: white;
   opacity: 0;
}

#game {
   font-weight: 800;
   background-image: linear-gradient(to right, #6253e1, #852D91);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 7vw;
   opacity: 0;
   z-index: 5;
   text-shadow: 0 2px 15px 0 #6f5fff;
}
#boxet {
   background: rgba(0, 0, 0, 0.445);
   position: absolute;
   z-index: 1;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   opacity: 0;
   border-radius: 2vw;
}

#btns {
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
}

.btn {
   background: rgba(0, 0, 0, 0.219);
   color: rgba(255, 255, 255, 0.548);
   outline: none;
   border: none;
   font-weight: 300;
   font-size: 70%;
   cursor: pointer;
}

.startBtn {
   display: inline-block;
   font-size: 2.2vw;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 7vh 8vw;
   padding: 2.5vh 6vw;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 50vh;
   moz-transition: background .4s ease-in-out;
   -o-transition: background .4s ease-in-out;
   -webkit-transition: background .4s ease-in-out;
   transition: background .4s ease-in-out;
   transform-origin: center center;
   z-index: 10;
   opacity: 0;
   background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
   box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.637);
   z-index: 2;
}
.startBtnLink {
   color: white;
   text-decoration: none;
}

.startBtn:hover {
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}

.startBtn:focus {
   outline: none;
}

.start0 {
   fill: #3E4CA0;
}

.start1 {
   fill: #EEF0F4;
}

.start2 {
   fill: #C6CBDA;
}

.start3 {
   fill: #B7C0E2;
}

.start4 {
   fill: #DCE2F3;
}

.start5 {
   fill: #B2B8CE;
}

.start6 {
   fill: #E8EDF7;
}

.start7{
   fill: none;
   stroke: #000000;
   stroke-miterlimit: 10;
}